.tableBox {
  padding: 48px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 48px;

  box-shadow: 1px 1px 5px #eee;
  // border: 1px solid #333;
  // border-radius: 10px;
}

.serviceBox,
.priceBox,
.durationBox {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.priceBox,
.durationBox {
  justify-content: center;
  align-items: center;
}

.title {
  margin: 0;
  color: #333;
  line-height: 1.2;
  font-weight: 700;
  font-size: 24px;
}

.text {
  color: #333;
  line-height: 1.2;
  font-weight: 500;
  font-size: 18px;
}

.priceContent {
  display: flex;
  gap: 5px;
}

.individual {
  color: #edf2ff;
  margin: 0;
  line-height: 1.2;
  font-weight: 700;
  font-size: 24px;
  padding: 2px 76px 2px 6px;
  background-image: linear-gradient(
    to right top,
    #050b2e,
    #091d51,
    #152d76,
    #243e9e,
    #364fc7
  );
}
