.heroSection {
  padding: 48px;
}

.hero {
  max-width: 1200px;
  margin: 0 auto;

  padding: 56px;
}

.title {
  font-size: 5.2rem;
  line-height: 1.05;
  margin: 0;
  text-align: center;
}

.description {
  font-size: 2rem;
  text-align: center;
  line-height: 1.6;
  margin: 0;
}
.rightSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 56px;
}
.buttonContainer {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.BtnPlaceHolder {
  display: inline-block;
  text-decoration: none;
  font-size: 26px;
  font-weight: 600;
  padding: 24px 38px;
  border-radius: 70px;
  border: none;
  cursor: pointer;
  color: #fff;
  background-color: #2148f5;
  transform-origin: center;
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.1);
  }
}

.freeTrialText {
  text-align: center;
  font-size: 16px;
  font-weight: 500;
}

.leftSection {
  background-color: #333;
}
.ImagePlaceholder {
  text-align: center;
  width: 100%;
  font-size: 78px;
  color: #fff;
}
