.aboutSection {
  padding: 48px 96px 48px 96px;
}
.aboutUsSection {
  display: flex;
  flex-direction: column;
  gap: 64px;
}

.upperSection {
  display: flex;
  gap: 48px;
  justify-content: center;
  align-items: center;
}

.title {
  margin: 0;
  color: #333;
  font-size: 44px;
  font-weight: 700;
  line-height: 1.6;
}

.rideContent {
  max-width: 500px;
  font-size: 24px;
  font-weight: 400;
  color: #333;
}

.joinUsText {
  padding-top: 36px;
  font-size: 24px;
  font-weight: 400;
}

.companyName {
  color: #1971c2;
  font-size: 26px;
  font-weight: 700;
}

.name {
  color: #1971c2;
  font-size: 20px;
  font-weight: 700;
}

.imageBox {
}
.image {
  width: 600px;
  border-radius: 10px;
}

.lowerSection {
  padding: 36px;
  border: 1px solid #eee;
  box-shadow: 2px 2px 5px #ccc;
}

.aboutUsContent {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
}

.about {
  grid-column: span 2;
}
.text {
  font-size: 20px;
  font-weight: 400;
  color: #333;
}
h3,
p {
  margin: 0;
}

h3 {
  font-size: 36px;
}
