.plan {
  height: 600px;
  width: 350px;
  border: 1px solid #ddd;
  border-radius: 10px;
  display: flex;

  transition: transform 0.3s ease;
  &:hover {
    transform: scale(1.05);
  }
}

.planBasic {
  &:hover {
    border: 2px solid #4c6ef5;
  }
}

.planStandard {
  height: 650px;
  border: 2px solid #228be6;
  box-shadow: 2px 2px 30px #ddd;
}

.planPremium {
  &:hover {
    border: 2px solid #15aabf;
  }
}
.planCard {
  margin: 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 12px;
}

.upperContent {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.planNameDesc {
  color: #333;
  font-size: 14px;
  font-weight: 500;
  margin: 0;
}

.planName {
  color: #333;
  font-size: 24px;
  font-weight: 600;
  margin: 0;
}

.priceBox {
  display: flex;
  align-items: center;
}
.price {
  color: #333;
  font-size: 36px;
  font-weight: 700;
  margin: 0;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 16px;
}
.button {
  display: inline-block;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  padding: 16px 32px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transform-origin: center;
  transition: transform 0.3s ease;
}

.basicButton {
  color: #edf2ff;
  background-color: #5c7cfa;

  &:hover {
    background-color: #4c6ef5;
  }
}

.standardButton {
  color: #e7f5ff;
  background-color: #339af0;
  &:hover {
    background-color: #228be6;
  }
}

.premiumButton {
  color: #e3fafc;
  background-color: #22b8cf;
  &:hover {
    background-color: #15aabf;
  }
}

.lowerContent {
  display: flex;
  flex-direction: column;

  gap: 8px;
}

.lists {
  list-style-type: none;
  padding: 0;
}
