.footerSection {
  padding: 48px;
  background-image: linear-gradient(
    to left bottom,
    #4c6ef5,
    #4a6cf3,
    #496af2,
    #4768f0,
    #4566ee,
    #4364ec,
    #4263e9,
    #4061e7,
    #3f5fe4,
    #3e5ee1,
    #3c5cde,
    #3b5bdb
  );
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.upperContent {
  background-color: #364fc7;
  border-radius: 50px;
  padding: 50px;
}

.upperBoxContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.title {
  font-size: 66px;
  color: #edf2ff;
  font-weight: 700;
  margin: 0;
}

.description {
  font-size: 24px;
  color: #edf2ff;
  font-weight: 500;
}

.callUs {
  font-size: 24px;
  color: #edf2ff;
  font-weight: 500;
  padding-top: 24px;
}

.email {
  font-size: 56px;
  color: #edf2ff;
  font-weight: 700;
  margin: 0;
  padding-top: 26px;
}

.footerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.leftContent {
  padding-top: 36px;
}

.website {
  font-size: 18px;
  color: #edf2ff;
  font-weight: 500;
}

.copyright {
  font-size: 18px;
  color: #edf2ff;
  font-weight: 500;
}

.iconContainer {
  display: flex;
  gap: 24px;
}

.icon {
  width: 24px;
  height: 24px;
}
