.listContainer {
  display: flex;

  align-items: center;
  gap: 16px;
  padding-bottom: 18px;
}

.checkMark {
  color: green;
  height: 24px;
  width: 24px;
  justify-self: center;
  align-self: center;
}

.XMark {
  color: red;
  height: 24px;
  width: 24px;
  justify-self: center;
  align-self: center;
}
