.benefitSection {
  padding: 48px 0px 0 0;
}

.sectionContainer {
  padding: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  color: #333;
  font-size: 36px;
  margin: 0;
}

.titleDesc {
  color: #333;
  font-size: 18px;
  font-weight: 600;
  margin: 12px;
  padding-bottom: 18px;
}
.BtnPlaceHolder {
  display: inline-block;
  text-decoration: none;
  font-weight: 600;
  padding: 16px 32px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  color: #fff;
  background-color: #2148f5;
  transform-origin: center;
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.1);
  }
}

.listContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 34px;
  column-gap: 24px;
}

@media only screen and (min-width: 1200px) {
  .listContainer {
    grid-template-columns: 1fr 1fr;
  }
}
